name: cross_fade
description: A widget to apply a crossfade animation between different states and/or widgets.
version: 0.3.0
repository: https://github.com/SplashByte/cross_fade

environment:
  sdk: ">=2.16.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter:
